@media (max-width: 1590px) {
  .about-section {
    &__row {
      margin-bottom: 16px;
      gap: 16px;
      grid-template-columns: 30.21% 23.01% 38.97%;
      &_reverse {
        grid-template-columns: 38.97% 23.01% 30.21%;
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .certificate-section {
    &__wrapper {
      gap: 64px;
    }
  }
}
@media (max-width: 1440px) {
  .header {
    &__nav {
      &-link {
        font-weight: 500;
        font-size: 15px;
      }
    }
  }

  .certificate-section {
    &__content {
      max-width: 560px;
    }
  }

  .program-section {
    &__wrapper {
      gap: 64px;
    }
    &__grid {
      margin: 0;
    }
  }

  .tutors-section {
    &__list {
      padding: 0px 32px;
      &-item {
        gap: 32px;
      }
    }
  }

  .form-section {
    margin-bottom: 100px;
    &__wrapper {
    }
    &__content {
      max-width: 1200px;
    }
    &__heading {
      margin-bottom: 16px;
    }
    &__top {
      flex-direction: column;
      gap: 32px;
      align-items: center;
      justify-content: center;
    }
    &__form {
      max-width: 1200px;
      margin: 0;
    }
  }
}

@media (max-width: 1340px) {
  .why-section {
    &__wrapper {
      background-position: right -10px top;
    }
    &__heading {
      max-width: 400px;
      right: 166px;
      text-align: center;
      margin: 0;
      margin-left: auto;
    }
    &__list {
      display: grid;
      justify-content: start;
      grid-template-columns: 0.5fr;
      grid-auto-rows: 1fr;
      gap: 64px;
      &-item {
        max-width: 600px;
        height: 100%;
        &:nth-child(even) {
          margin: 0;
        }
      }
    }
  }
}

@media (max-width: 1280px) {
  .certificate-section {
    &__wrapper {
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }
}

@media (max-width: 1124px) {
  .header {
    padding-top: 35px;
    padding-bottom: 18px;
    &__logo-link {
      svg {
        width: 286px;
        height: 126px;
      }
    }
    &__nav {
      position: fixed;
      z-index: 99;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      top: 182px;
      left: 0;
      padding: 32px;
      gap: 32px;
      background-color: white;
      border-top: 1px solid $blue;
      transition: 0.3s;
      -webkit-transition: 0.3s;
      -moz-transition: 0.3s;
      -ms-transition: 0.3s;
      -o-transition: 0.3s;
      opacity: 0;
      visibility: hidden;
      transform: translateY(-100%);
      -webkit-transform: translateY(-100%);
      -moz-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
      -o-transform: translateY(-100%);
      &.active {
        opacity: 1;
        visibility: visible;
        transform: translateY(0%);
        -webkit-transform: translateY(0%);
        -moz-transform: translateY(0%);
        -ms-transform: translateY(0%);
        -o-transform: translateY(0%);
      }

      &-link {
        font-size: 20px;
        &:hover {
          &::after {
            display: none;
          }
        }
      }
    }
    &__burger-btn {
      display: initial;
      &.active {
      }
    }
  }

  .promo-section {
    margin-top: 182px;
    padding-top: 231px;
    padding-bottom: 225px;
    padding-bottom: 22b;
    &__group {
      &-btn {
        &:nth-child(2) {
          display: none;
        }
      }
    }
  }

  .wrapper {
    padding: 0px 80px;
    max-width: $wrapperWidth + 160px;
  }
  .about-section {
    &__row {
      display: none;
    }
    &__wrapper {
      position: relative;
    }
    &__swiper {
      position: relative;
      width: 100%;
      display: initial;
      &-left {
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        left: 56px;
        width: 70px;
        height: 70px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        z-index: 99;
        border: 2px solid $blue;
        background-color: white;
        border-radius: 50%;
      }
      &-right {
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        right: 56px;
        width: 70px;
        height: 70px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        z-index: 99;
        border: 2px solid $blue;
        background-color: white;
        border-radius: 50%;
      }
    }
    .swiper-button-disabled {
      opacity: 0.2;
    }
    .swiper-slide {
      overflow: hidden;
      border-radius: 10px;
    }
    &__slide {
      position: relative;
      width: 100%;
      height: 540px;
      border-radius: 10px;
      overflow: hidden;
      padding: 42px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: end;
      * {
        position: relative;
        z-index: 2;
      }
      &-heading {
        font-weight: 500;
        font-size: 32px;
        line-height: 130%;
        color: #fff;
      }
      &::after {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        background: linear-gradient(
          193deg,
          rgba(0, 91, 185, 0) 0%,
          #005bb9 100%
        );
        z-index: 1;
        border-radius: 10px;
        overflow: hidden;
      }
      &-bg {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        object-fit: cover;
      }
    }
  }

  .program-section {
    margin-top: 85px;
    &__wrapper {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
    }
    &__content {
      align-items: center;
      text-align: center;
      &-heading {
        margin-bottom: 63px;
        font-size: 60px;
      }
    }
    &__btn {
      margin-top: 63px;
      display: none;
    }
    &__mobile-btn {
      display: initial;
    }
    &__grid {
      grid-auto-rows: minmax(540px, 1fr);
      &-item {
        &_empty {
          .program-section__grid-item-heading {
            font-size: 48px !important;
          }
        }
        &-heading {
          max-width: unset !important;
          font-size: 32px !important;
        }
        &-subtext {
          text-align: left;
          font-size: 32px;
        }
      }
    }
  }

  .certificate-section {
    &__content {
      align-items: center;
      text-align: center;
      &-heading {
        margin-bottom: 63px;
        font-size: 60px;
      }
      &-text {
        font-size: 32px;
      }
    }
  }
  .tutors-section {
    &__list {
      gap: 29px;
      &-item {
        &-body {
          border: 1px solid $blue;
        }
        &-text {
          text-align: center;
          font-size: 24px;
        }
      }
    }
  }

  .why-section {
    margin-bottom: 63px;
    &__wrapper {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background: none;
    }
    &__heading {
      margin: 0;
      max-width: unset;
      font-size: 60px;
      margin-bottom: 46px;
      position: static;
    }
    &__list {
      grid-template-columns: 1fr;
      grid-auto-rows: 1fr;
      gap: 29px;
      &-item {
        max-width: unset;
        gap: 24px;
        &-text {
          font-size: 25px;
        }
        &-counter {
          font-size: 60px;
        }
      }
    }
  }
  .form-section {
    margin-top: 63px;
    margin-bottom: 216px;
    &__wrapper {
      padding: 0px 32px;
    }
    &__text {
      margin-bottom: 73px;
      font-size: 32px;
    }
    &__heading {
      font-size: 60px;
      margin-bottom: 51px;
    }
    &__content {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
    }
  }
  .go-up-link {
    width: 132px;
    height: 132px;
  }
}

@media (max-width: 768px) {
  .wrapper {
    padding: 0px 24px;
  }
  .header {
    &__logo-link {
      svg {
        width: 220px;
        height: auto;
      }
    }
    &__nav {
      top: 152.48px;
    }
  }
  .about-section {
    &__swiper {
      &-left {
        left: 0;
      }
      &-right {
        right: 0;
      }
    }
  }
  .program-section {
    &__grid {
      grid-template-columns: 1fr;
      &-item {
        &::after {
          opacity: 0.5;
        }
      }
    }
  }
  .tutors-section {
    &__heading {
      font-size: 60px;
    }
    &__list {
      display: none;
      gap: 64px;
    }
    &__swiper {
      display: block;

      &-left {
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        left: 0;
        width: 70px;
        height: 70px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        z-index: 99;
        border: 2px solid $blue;
        background-color: white;
        border-radius: 50%;
      }
      &-right {
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        right: 0;
        width: 70px;
        height: 70px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        z-index: 99;
        border: 2px solid $blue;
        background-color: white;
        border-radius: 50%;
      }
      &-holder {
        position: relative;
        padding: 0px 24px;
      }
    }
    .swiper-button-disabled {
      opacity: 0.3;
    }
    &__list-item {
      display: flex;
      flex-direction: column;
      gap: 0;
      &-holder {
        position: relative;
        max-width: unset;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        &::after {
          opacity: 0.5;
        }
      }
      &-img {
        object-position: top;
      }
      &-body {
        height: 360px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
      }
    }
  }
  .form-section {
    margin: 64px 0;
  }
  .go-up-link {
    width: 72px;
    height: 72px;
    svg {
      width: 24px;
    }
  }
}

@media (max-width: 625px) {
  .header {
    padding: 0;
    height: 100px;
    &__nav {
      top: 100px;
    }
  }
  .promo-section {
    margin-top: 100px;
  }
  .about-section {
    &__swiper {
      &-left,
      &-right {
        width: 48px;
        height: 48px;
        svg {
          width: 32px;
        }
      }
    }
  }
  .subheading {
    margin-bottom: 24px;
    @include fluid-font(20px, 48px);
  }
  .program-section {
    &__content-heading {
      margin-bottom: 24px;
    }
    &__grid {
      grid-auto-rows: minmax(380px, 1fr);
      &-item {
        &-bg {
          object-position: center;
        }
        &_empty {
          .program-section__grid-item-heading {
            font-size: 32px !important;
          }
        }
        &-subtext {
          font-size: 20px;
        }
      }
    }
  }

  .certificate-section {
    &__wrapper {
      gap: 0;
    }
    &__figure {
      margin-top: 24px;
      &-image {
        height: auto;
      }
    }
  }
  .tutors-section {
    &__swiper {
      &-left,
      &-right {
        width: 48px;
        height: 48px;
        svg {
          width: 32px;
        }
      }
    }
    &__list {
      &-item {
        &-holder {
          height: 480px;
        }
      }
    }
  }
}

@media (max-width: 525px) {
  .about-section {
    margin: 48px 0;
    &__slide {
      padding: 24px;
      &-heading {
        font-size: 22px;
      }
    }
  }
  .program-section {
    margin: 48px 0;
    &__grid {
      &-item {
        &-heading {
          text-align: left;
          font-size: 24px !important;
        }
      }
    }
  }
  .tutors-section {
    &__list {
      &-item {
        &-holder {
          height: 400px;
        }
        &-body {
          height: 320px;
        }
      }
    }
  }
  .why-section {
    &__list {
      &-item {
        padding: 16px;
        &-text {
          font-size: 20px;
        }
        &-counter {
          font-size: 24px;
        }
      }
    }
  }
  .form {
    &__input {
      padding: 16px;
    }
  }
}

@media (max-width: 475px) {
  .header {
    &__logo-link {
      svg {
        width: 160px;
      }
    }
  }
  .tutors-section {
    &__swiper {
      &-left {
        left: -16px;
      }
      &-right {
        right: -16px;
      }
    }
    &__list {
      &-item {
        &-body {
          padding: 16px;
        }
      }
    }
  }
}

@media (max-width: 425px) {
  .why-section {
    &__list-item {
      &-text {
        font-size: 16px;
      }
      &-counter {
        width: 48px;
        height: 48px;
      }
    }
  }
}

@media (max-width: 375px) {
  .header {
    &__logo-link {
      svg {
        width: 120px;
      }
    }
  }
  .wrapper {
    padding: 0px 16px;
  }

  .about-section {
    &__slide {
      height: 320px;
    }
  }

  .program-section {
    &__grid-item-heading {
      font-size: 18px !important;
    }
  }
  .tutors-section {
    &__swiper-holder {
      padding: 0;
    }
    &__list {
      &-item {
        &-holder {
          height: 320px;
        }
        &-body {
          height: 249px;
        }
      }
    }
  }
  .tutors-section__swiper-right,
  .tutors-section__swiper-left,
  .about-section__swiper-left,
  .about-section__swiper-right {
    width: 24px;
    height: 24px;
    svg {
      width: 16x;
    }
  }
}
